@media (max-width: 373.98px) {
  .menu-list ul li a span {
    font-size: 19px;
  }
  #menu-account span {
    font-size: 24px !important;
  }
  .sub-categories .cat_body {
    margin: 10px;
  }
}

@media (max-width: 413.98px) {
  .welcome img {
    width: 100%;
  }
  .ur-account {
    text-align: center !important;
    margin: auto;
  }
  .content-menu .form-menu img {
    width: 35px !important;
  }
  .sub-categories .cat_body {
    margin: 10px;
  }
}
@media (max-width: 467.98px) {
  .content-menu .form-menu {
    padding: 1rem 4rem !important;
  }
  .content-menu .form-menu img {
    width: 41px !important;
  }
  .sub-categories .cat_body {
    margin: 10px;
  }
}
@media (max-width: 575.98px) {
  .orders .reply .user .reply_contain {
    text-align: center;
  }
  .content .upgrade_subscripe {
    text-align: center;
  }
  .add_question {
    text-align: center;
  }
  .add_question .add_question_btn {
    margin-top: 20px;
  }
  .content .block {
    text-align: center;
  }
  .content .block img {
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
  }
  .top_bar {
    text-align: center;
  }
  .top_bar .contact {
    margin-bottom: 20px;
  }
  .top_bar_new {
    text-align: center;
  }
  .top_bar_new .contact {
    margin-bottom: 20px;
  }
  header {
    padding: 10px 0 150px 0;
  }
  header .contain {
    text-align: center;
  }

  header .contain .desc h2 {
    font-size: 25px;
    margin-bottom: 30px;
  }
  header .contain .desc p {
    font-size: 14px;
  }

  footer {
    background-size: cover;
  }

  header .navbar .nav-item .nav-link {
    text-align: center;
  }

  .header_new .navbar .nav-item .nav-link {
    text-align: center;
  }

  header .navbar .nav-item .nav-link.active::after {
    right: 0;
    left: 0;
    margin: auto;
  }

  .sc-f ul {
    text-align: center !important;
  }
  .ur-account p {
    text-align: center !important;
  }
  .steps li.is-active img {
    width: 65px;
  }
  .steps li img {
    width: 60px;
  }
  #payment .first-one,
  #payment .second-one {
    width: 90%;
  }
  /* .content .form-box .form-control {
    width: 346px;
  } */
  .sub-categories .cat_body {
    margin: 10px;
  }
}
@media (max-width: 767.98px) {
  .orders .reply .user .reply_contain {
    border-right: 1px solid transparent;
  padding: 0 0 0 0;
  }
  .orders .reply .user .reply_contain {
    text-align: center;
  }
  .content .upgrade_subscripe {
    text-align: center;
  }
  .add_question {
    text-align: center;
  }
  .add_question .add_question_btn {
    margin-top: 20px;
  }
  .content .block {
    text-align: center;
  }
  .content .block img {
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
  }
  .top_bar {
    text-align: center;
  }
  .sub-categories .cat_body {
    margin: 10px;
  }
  .top_bar {
    text-align: center;
  }
  .top_bar .contact {
    margin-bottom: 20px;
  }
  .top_bar_new {
    text-align: center;
  }
  .top_bar_new .contact {
    margin-bottom: 20px;
  }
  footer {
    background-size: cover;
  }

  header {
    padding: 10px 0 150px 0;
  }
  header .contain {
    text-align: center;
  }

  header .contain .desc h2 {
    font-size: 25px;
    margin-bottom: 30px;
  }
  header .contain .desc p {
    font-size: 14px;
  }
  header .navbar .nav-item .nav-link {
    text-align: center;
  }

  .header_new .navbar .nav-item .nav-link {
    text-align: center;
  }

  header .navbar .nav-item .nav-link.active::after {
    right: 0;
    left: 0;
    margin: auto;
  }
  #payment .second-one {
    margin-top: 2rem !important;
  }
  #payment .menna {
    text-align: center !important;
  }
  .our_partners .mondays img.img-fluid {
    margin-top: 3rem !important;
  }
  /* .content .form-box .form-control {
    width: 546px;
  } */
}
@media (max-width: 991.98px) {
  .content .upgrade_subscripe {
    text-align: center;
  }
  footer {
    background-size: cover;
  }
  header {
    padding: 10px 0 150px 0;
  }
  header .contain {
    text-align: center;
  }

  header .contain .desc h2 {
    font-size: 25px;
    margin-bottom: 30px;
  }
  header .contain .desc p {
    font-size: 14px;
  }

  header .navbar .nav-item .nav-link {
    text-align: center;
  }

  .header_new .navbar .nav-item .nav-link {
    text-align: center;
  }

  header .navbar .nav-item .nav-link.active::after {
    right: 0;
    left: 0;
    margin: auto;
  }
  header .navbar-brand {
    width: 200px;
  }
  .navbar {
    margin-bottom: 40px;
  }
  .cent {
    margin: auto;
  }
  footer .social {
    display: inline-flex;
  }
  .desc-t {
    margin-top: 1.4rem;
    text-align: center !important;
  }
  #account-details .form-control {
    width: 71% !important;
  }
}
@media (max-width: 1199.98px) {
  footer {
    background-size: cover;
  }
  header {
    padding: 10px 0 150px 0;
  }
  header .contain {
    text-align: center;
  }

  header .contain .desc h2 {
    font-size: 25px;
    margin-bottom: 30px;
  }
  header .contain .desc p {
    font-size: 14px;
  }
  img.hamada {
    margin-left: 11.9px;
  }
  #account-details .form-control {
    width: 71% !important;
  }
}
@media (max-width: 1399.98px) {
  footer {
    background-size: cover;
  }
  header {
    padding: 10px 0 150px 0;
  }
  header .contain {
    text-align: center;
  }

  header .contain .desc h2 {
    font-size: 25px;
    margin-bottom: 30px;
  }
  header .contain .desc p {
    font-size: 14px;
  }
  footer .social {
    display: inline-flex;
  }
}

@media (min-width: 1400px) {
  header {
    padding: 10px 0 150px 0;
  }

  header .contain .desc h2 {
    font-size: 40px;
    margin-bottom: 30px;
  }
  header .contain .desc p {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .desc-t .desc {
    text-align: center;
  }
  .video-w {
    height: 50vh;
  }
}
