/* Website Font */
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");

:root {
  --main-color: #1aa6b7;
  --white-color: #fff;
}

/* Start Global */
body {
  font-family: "Almarai", sans-serif !important;
}
a {
  text-decoration: none;
}
/* End Global */

/***************************************************
    HOME PAGE
***************************************************/

/* Start Top Bar */
.top_bar {
  background-color: var(--white-color);
  padding: 22px 0;
  color: var(--main-color);
}
.top_bar .email {
  margin-right: 10px;
}
.top_bar .email,
.top_bar .phone {
  font-weight: 500;
}
.top_bar .login {
  color: var(--main-color);
}
.top_bar .register {
  padding: 7px 15px;
  text-decoration: none;
  background-color: #1aa6b7;
  border-radius: 30px;
  color: #fff;
  margin-right: 10px;
}
.top_bar .login,
.top_bar .register {
  font-weight: 500;
  text-decoration: none;
}
/* End Top Bar */

/* Start Header */
.main-navbar {
  /* background-image: url(../images/header\ 2.svg) */
  /* url(../images/header_background_2.svg),
    url(../images/header_background_3.svg); */
  /* background-color: #1aa6b7; */
  /* background-size: cover; */
  /* height: 1vh; */
}
.main-navbar .navbar .navbar-brand img {
  margin-top: 10px;
}
.main-navbar .navbar .nav-item .nav-link {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
}
.nav-link {
  color: var(--main-color);
}
.nav-link:hover {
  color: var(--main-color);
}
.main-navbar .navbar .nav-item .nav-link.active {
  position: relative;
}
.main-navbar .navbar .nav-link.active::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 3px;
  background-color: var(--white-color);
  top: 40px;
  left: 20px;
  margin: auto;
}
.main-all {
  background-color: var(--main-color);
}
.main-page .contain {
  background-color: var(--main-color);
  height: 67vh;
  box-shadow: unset;
}
.main-page .contain .desc h2 {
  color: var(--white-color);
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 30px;
}
.main-page .contain .desc p {
  color: var(--white-color);
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1px;
}
.main-all .navbar-toggler:active,
.main-all .navbar-toggler:focus {
  border: 1px solid var(--white-color) !important;
  box-shadow: none;
}
.main-all .navbar-toggler .fa {
  color: var(--white-color);
}
.main-page .contain .btns {
  margin-top: 40px;
}
.main-page .contain .btns .connct_now {
  text-decoration: none;
  padding: 8px 24px;
  border: 1px solid var(--white-color);
  border-radius: 30px;
  background-color: var(--white-color);
  color: var(--main-color);
  font-weight: 500;
  transition: all 0.5s ease-in-out;
}
.main-page .contain .btns .connct_now:hover {
  color: var(--white-color);
  background-color: var(--main-color);
  border: 1px solid var(--white-color);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main-page .contain .btns .learn_more {
  text-decoration: none;
  padding: 8px 24px;
  border: 1px solid var(--white-color);
  border-radius: 30px;
  color: var(--white-color);
  margin-right: 15px;
  font-weight: 500;
  transition: all 0.5s ease-in-out;
}
.main-page .contain .btns .learn_more:hover {
  color: #2c4250;
  background-color: var(--white-color);
  border: 1px solid var(--white-color);
  box-shadow: 0 0 10px #eee;
}
.contain_background .img-fluid {
  max-width: 105%;
  margin-top: 5rem;
  display: inline-block;

  animation: backInRight; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1.5s; /* don't forget to set a duration! */
}

.mob {
  z-index: 11111;
}

.extention img {
  margin-top: -2px;
}
/* End Header */

/******************************************************************************/

/* Start Our Features */
.our_features {
  margin: 2rem 0;
}
.our_features .title {
  margin-bottom: 30px;
}
.our_features .title span {
  color: var(--main-color);
  font-size: 20px;
  font-weight: 600;
}
.our_features .title h6 {
  font-size: 40px;
  font-weight: 600;
  color: #2c4250;
}
.our_features .features {
  margin-bottom: 20px;
}
.our_features .features .feat_img {
  border-radius: 100%;
  height: 100px;
  width: 100px;
  line-height: 80px;
  background-color: #f5fbfb;
  padding: 10px;
  box-shadow: 0px 5px 5px #eee;
}
.our_features .features .feat_img img:hover {
  display: inline-block;
  margin: 0 0.5rem;

  animation: flash; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s;
}
.desc-t {
  z-index: 1111;
}
.our_features .features .feat_img img {
  width: 60px;
}
.our_features .features .feat_desc p {
  color: var(--main-color);
  font-weight: 500;
  font-size: 18px;
}
/* End Our Features */

/******************************************************************************/

/* Start Planing Price */
.planing_price {
  padding: 50px 0;
}
.planing_price .title {
  margin-bottom: 40px;
}
.planing_price .title span {
  color: var(--main-color);
  font-size: 20px;
  font-weight: 600;
}
.planing_price .title h6 {
  font-size: 40px;
  font-weight: 600;
  color: #2c4250;
}
.planing_price .plan {
  overflow: hidden;
  box-shadow: 0px 0px 3px #95a5a6;
  height: 500px;
  margin-bottom: 10px;
}
.planing_price .one {
  background-image: url(../images/price/one.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
.planing_price .two {
  background-image: url(../images/price/two.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
.planing_price .one:hover,
.planing_price .two:hover,
.planing_price .three:hover {
  box-shadow: 0px 0px 27px #95a5a6;
}
.planing_price .three {
  background-image: url(../images/price/three.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
.accordion .accordion-item {
  margin-bottom: 10px;
}
.accordion .accordion-button {
  background-color: var(--white-color) !important;
  padding: 20px;
  border: 1px solid #fff;
  border-radius: 4px;
  color: var(--main-color);
  font-size: 19px;
  font-weight: bold;
}
.accordion .accordion-collapse {
  background-color: var(--white-color);
  border: 1px solid #eee;
  color: #9b9898;
  line-height: 1.8;
}
.accordion .accordion-button:active,
.accordion-button:focus {
  box-shadow: none;
  outline: none;
  border: 1px solid #fff;
}
.accordion img {
  margin-left: 10px;
}
.accordion-button::after {
  background-image: url("../images/Polygon\ 4.png");
}
.accordion-button:not(.collapsed)::after {
  background-image: url("../images/Polygon\ 4.png");
}
.planing_price .plan h4 {
  padding: 20px;
  position: relative;
  color: var(--main-color);
  margin-bottom: 20px;
  font-weight: bold;
}
.planing_price .plan h4::after {
  content: "";
  position: absolute;
  top: 65px;
  width: 150px;
  height: 2px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #00000029;
}
.planing_price .plan .price span {
  font-size: 50px;
  font-weight: bold;
  display: inline-block;
  color: var(--main-color);
  margin-bottom: 20px;
}
.planing_price .plan ul li {
  margin-bottom: 10px;
  color: #707070;
}
.planing_price .plan .conntect_now {
  margin-top: 30px;
  display: inline-block;
  text-decoration: none;
  padding: 10px 30px;
  border: 1px solid var(--main-color);
  border-radius: 30px;
  background-color: var(--main-color);
  color: var(--white-color);
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.planing_price .plan .conntect_now:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* End Planing Price */

/******************************************************************************/

/* Start Electonic List Features */

.electonic_list_features {
  padding: 50px 0;
  background-color: #f4fafb;
}
.electonic_list_features video {
  width: 100%;
  margin-bottom: 20px;
}
.electonic_list_features .container .content {
  padding: 50px 0;
  background-color: #f3fbfc;
  box-shadow: unset;
}
.electonic_list_features .content h5 {
  color: #2c4250;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
}
.electonic_list_features .content ul li {
  margin-bottom: 20px;
}
.electonic_list_features .content ul li .fa,
.electonic_list_features .content ul li span {
  color: var(--main-color);
}
.electonic_list_features .content ul li .fa {
  font-size: 20px;
}
.electonic_list_features .content ul li span {
  margin-right: 10px;
  font-weight: 500;
}

/* End Electonic List Features */

/******************************************************************************/

/* Start Our Partners */

.our_partners {
  padding: 50px 0;
}
.our_partners .title {
  margin: 2rem 0;
}
.our_partners .title span {
  color: var(--main-color);
  font-size: 20px;
  font-weight: 600;
}
.our_partners .title h6 {
  font-size: 40px;
  font-weight: 600;
  color: #2c4250;
}
.our_partners .partner img {
  mix-blend-mode: luminosity;
}
.our_partners .partner img:hover {
  mix-blend-mode: unset;
}
/* End Our Partners */

/******************************************************************************/

/* Start News */

.news {
  padding: 50px 0;
  background-image: url(../images/subscribe/subscribe.png);
  background-size: cover;
}
.news h4 {
  color: var(--main-color);
  font-size: 30px;
  margin-bottom: 15px;
  font-weight: 600;
}
.news p {
  font-size: 17px;
  padding-bottom: 1rem;
}
.news input {
  padding: 10px;
  border-radius: 15px;
  position: relative;
  direction: rtl !important;
}
.news input::placeholder {
  color: #707070b8;
}
.news input:focus,
.news input:active {
  border: 1px solid var(--main-color) !important;
}
.news .connect {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999999999999999999;
  margin-top: 30px;
  display: inline-block;
  text-decoration: none;
  padding: 10px 30px;
  border: 1px solid var(--main-color);
  border-radius: 30px;
  background-color: var(--main-color);
  color: var(--white-color);
  font-weight: 500;
  transition: all 0.5s ease-in-out;
}
.news .newsletter-form {
  position: relative;
  max-width: 550px;
  margin: 0 auto;
  box-sizing: border-box;
}
.news .newsletter-input {
  width: 100%;
  padding: 15px 10px 15px 10px;
  border-radius: 50px;
  border: 1px solid #ccc;
  font-size: 16px;
}
.news .newsletter-input:focus {
  outline: none;
  border-color: #42b983;
}
.news .newsletter-button {
  position: absolute;
  padding: 4px 4px;
  margin: 0px;
  left: 5px;
  top: 5px;
  font-size: 1.05em;
  text-align: center;
  border-radius: 2em;
  display: inline-block;
  color: #fff;
  padding: 10px 30px;
  background-color: var(--main-color);
  transition: all 0.15s ease;
  box-sizing: border-box;
  border: 1px solid var(--main-color);
  outline: none;
}
.news .newsletter-button:hover {
  box-shadow: 0 0 20px #0000004f;
}

/* End News */

/******************************************************************************/

/* Start Footer */
/* footer .container::before {
  background-image: url(../images/footer.svg);
} */
.footer {
  /* background-color: #f3fbfc; */
  /* padding: 238px 0; */
  /* background-image: url(../images/Mask\ Group\ 1.png); */
  background-color: #1aa6b7;
  /* transform: rotate(180deg); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  width: 100%;
  /* height: 55vh; */
  padding: 3.2rem 0;
}

footer .logo {
  margin-bottom: 30px;
}
footer h5 {
  color: var(--white-color);
  font-size: 20px;
  line-height: 1.6;
}

footer h4 {
  color: var(--white-color);
  font-size: 22px;
  line-height: 2.6;
}

footer li .fa,
footer li span {
  color: var(--white-color);
}
footer li .fa {
  margin-right: 5px;
}
footer li.email {
  margin-bottom: 20px;
}
footer li.phone {
  margin-bottom: 10px;
}
footer .social {
  display: flex;
}
footer .social a {
  text-decoration: none;
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: var(--white-color);
  border-radius: 100%;
  margin: 10px;
}
footer .social a:hover {
  box-shadow: 0 0 10px #eee;
}

footer .social a .fa {
  margin-right: 0;
  color: var(--main-color);
}
footer .social a.facebook {
  margin-left: 0;
}
footer .special li a {
  display: inline-block;
  color: var(--white-color);
  text-decoration: none;
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 10px;
}
.extention-footer img {
  margin-top: 1rem;
}
.extention-footer {
  background-color: #f3fbfc;
}
.extention-footer-spcial {
  background-color: unset;
}
/* End Footer */

/******************************************************************************/

/* Start Footer Bar */

.footer_bar {
  padding: 20px 0;
}
.footer_bar p {
  color: var(--main-color);
  font-weight: 600;
  font-size: 17px;
}

/* End Footer Bar */

/******************************************************************************/

/***************************************************
    REGISTER PAGE
***************************************************/

/* Start Top Bar */
.top_bar_new {
  background-color: var(--main-color);
  /* background-color: pink; */
  padding: 22px 0;
  color: var(--white-color);
}
.top_bar_new .email {
  margin-right: 10px;
}
.top_bar_new .email,
.top_bar_new .phone {
  font-weight: 500;
}
.top_bar_new .login {
  color: var(--white-color);
}
.top_bar_new .register {
  padding: 7px 15px;
  text-decoration: none;
  background-color: var(--white-color);
  border-radius: 30px;
  color: var(--main-color);
  margin-right: 10px;
}
.top_bar_new .login,
.top_bar_new .register {
  font-weight: 500;
  text-decoration: none;
}
/* End Top Bar */

/******************************************************************************/

/* Start Header */
.main-navbar-2 .navbar .navbar-brand img {
  margin-top: 10px;
}
.main-navbar-2 .navbar .nav-item .nav-link {
  color: var(--main-color);
  font-size: 17px;
  font-weight: 500;
}

.main-navbar-2 .navbar-toggler:active,
.main-navbar-2 .navbar-toggler:focus {
  border: 1px solid var(--white-color) !important;
  box-shadow: none;
}
.main-navbar-2 .navbar-toggler .fa {
  color: var(--main-color);
}
/* End Header */

/******************************************************************************/

/* Start Steps Register */

.steps {
  padding: 50px 0;
  background-color: var(--white-color);
}
.steps .polits {
  border-top: 1px solid #ddd;
  position: relative;
}
.steps .polits .col {
  position: absolute;
  top: 0;
  left: 0;
}

.multi-steps {
  display: table;
  width: 100%;
  margin: 0 !important;
}
.multi-steps > li {
  counter-increment: step;
  text-align: center;
  display: table-cell;
  position: relative;
  /* color: #6f1989; */
  font-size: 22px;
}

/* .multi-steps > .roro::after {
  color: red;
  content: "";
  height: 10px;
  width: 95%;
  position: absolute;
  top: 56px;
  right: 65%;
  margin-left: 6%;
  border-bottom: solid;
} */

.line {
  position: absolute;
  z-index: 0;
  width: 63%;
  height: 3px;
  background-color: red;
  top: 69%;
  right: 15rem;
}
/* .multi-steps > li:last-child:after {
  display: none;
} */
/* .multi-steps > li.is-active:before {
  background-color: #6f1989;
  border-color: white;
} */
.multi-steps > li.is-active ~ li {
  /* color: #808080; */
  /* top: 0px; */
}
.multi-steps li {
  color: var(--main-color) !important;
  font-weight: bold;
  font-size: 17px;
}
/* .multi-steps > li.is-active ~ li:before {
  background-color: #ededed;
  border-color: #ededed;
  color: #808080;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 65px;
  z-index: 222;
} */
li.is-active img {
  width: 100px;
}

/* End Steps Register */

/******************************************************************************/

/* Start Content */

.content {
  padding: 50px 0;
  background-color: #f3fbfc;
  /* box-shadow: 0 0 6px 0 #0000004f inset; */
}
.content .form-label {
  color: var(--main-color);
  font-weight: bold;
}
.content .form-label img {
  width: 16px;
  margin-left: 5px;
}
.content .mb-3 {
  margin-bottom: 20px;
}
.content .form-control,
.content .form-select {
  padding: 15px;
  border: 1px solid transparent;
  box-shadow: 0 0 10px #eee;
  border-radius: 10px;
}
.content .form-control:focus,
.content .form-control:active,
.content .form-select:focus,
.content .form-select:active {
  box-shadow: none;
}
.content .myselect {
  position: relative;
}
.content .myselect select {
  padding-right: 10px;
  outline: none;
}
.fx .content .myselect::after {
  content: "";
  position: absolute;
  left: 13px;
  top: 28px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid var(--main-color);
  pointer-events: none;
}
.content .btn {
  text-decoration: none;
  padding: 1.2rem 4.4rem;
  border: 1px solid var(--white-color);
  border-radius: 30px;
  color: var(--white-color);
  margin-right: 15px;
  background-color: var(--main-color);
  font-weight: 500;
  transition: all 0.5s ease-in-out;
  font-size: 20px;
  margin: 2.5rem 0;
}
.content .btn:hover {
  color: var(--main-color);
  background-color: var(--white-color);
  border: 1px solid var(--main-color);
}
/* End Content */

/******************************************************************************/
.container-fluid .active-button {
  display: table;
  margin: auto;
  padding-left: 0;
  overflow: hidden;
  margin-bottom: 25px;
}
.container-fluid .active-button li {
  display: inline-block;
  width: 180px;
}
.container-fluid .active-button li .round-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f3fbfc;
  display: block;
  color: #1aa6b7;
  text-align: center;
  font-family: "poppins";
  font-weight: 500;
  line-height: 30px;
  max-width: 100%;
  margin: auto;
  position: relative;
  z-index: 1;
  font-size: 2rem;
}
.round-btn {
  padding: 0.5rem 0;
}
.container-fluid .active-button li.active .round-btn {
  background-color: #1aa6b7;
  color: var(--white);
}
.container-fluid .active-button .round-btn:before {
  position: absolute;
  content: "";
  width: 154px;
  height: 3px;
  background-color: #f3fbfc;
  left: -154px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
.container-fluid .active-button li.active .round-btn:before {
  background-color: #1aa6b7;
}

/*******************************************************/
/* Start Planing Price */
.selection-plan .list-unstyled {
  line-height: 2.4rem;
}
.planing_price-pp {
  padding: 50px 0;
  background-color: #f3fbfc;
  box-shadow: 0 0 0 #0000004f, 0 9px 20px 0 #0000004f;
}
.planing_price-pp .title {
  margin-bottom: 40px;
}
.planing_price-pp .title span {
  color: var(--main-color);
  font-size: 20px;
  font-weight: 600;
}
.planing_price-pp .title h6 {
  font-size: 40px;
  font-weight: 500;
  color: #2c4250;
}
.planing_price-pp .plan {
  overflow: hidden;
  box-shadow: 0px 0px 3px #95a5a6;
  height: 500px;
  margin-bottom: 10px;
}
.planing_price-pp .one {
  background-image: url(../images/price/one.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
}
.planing_price-pp .two {
  background-image: url(../images/price/two.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
}
.planing_price-pp .three {
  background-image: url(../images/price/three.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
}
.planing_price-pp .plan:hover {
  box-shadow: 0px 0px 3px #10717c;
}
.planing_price-pp .plan h4 {
  padding: 20px;
  position: relative;
  color: var(--main-color);
  margin-bottom: 20px;
  font-weight: bold;
}
.planing_price-pp .plan h4::after {
  content: "";
  position: absolute;
  top: 65px;
  width: 150px;
  height: 2px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #00000029;
}
.planing_price-pp .plan .price span {
  font-size: 50px;
  font-weight: bold;
  display: inline-block;
  color: var(--main-color);
  margin-bottom: 20px;
}
.planing_price-pp .plan ul li {
  margin-bottom: 10px;
  color: #707070;
}
.planing_price-pp .plan .conntect_now {
  margin-top: 30px;
  display: inline-block;
  text-decoration: none;
  padding: 10px 30px;
  border: 1px solid var(--main-color);
  border-radius: 30px;
  background-color: var(--main-color);
  color: var(--white-color);
  font-weight: 500;
  transition: all 0.5s ease-in-out;
}
.s-price .btn,
.s-price .btn,
.s-price .btn {
  text-decoration: none;
  /* padding: 17px 63px; */
  border: 1px solid var(--white-color);
  /* border-radius: 30px; */
  color: var(--white-color);
  margin-right: 15px;
  /* background-color: var(--main-color); */
  font-weight: 500;
  transition: all 0.5s ease-in-out;
  font-size: 20px;
  margin: 3rem 0;
  background-color: #fff;
  width: 100%;
}
.planing_price-pp .nd .btn {
  text-decoration: none;
  padding: 17px 63px;
  border: 1px solid var(--white-color);
  border-radius: 30px;
  color: var(--white-color);
  margin-right: 15px;
  background-color: var(--main-color);
  font-weight: 500;
  transition: all 0.5s ease-in-out;
  font-size: 20px;
  margin: 3rem 0;
}
.planing_price-pp .btn:hover {
  color: var(--main-color);
  background-color: var(--white-color);
}

.content-q {
  background-color: #f3fbfc;
  padding-bottom: 6rem;
}
.content-q .text-pp h6 {
  font-size: 35px;
  font-weight: 500;
  color: #2c4250;
}
.content-q .form-control,
.content-q .form-select-p {
  padding: 21px;
  border: 1px solid transparent;
  box-shadow: 0 0 10px #eee;
  border-radius: 10px;
}

.content-q .myselect::after {
  content: "";
  position: absolute;
  left: 13px;
  top: 28px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid var(--main-color);
  pointer-events: none;
}
/* End Planing Price */
.form-select-p {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem 0.375rem 1.75rem;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5;
  color: #1aa6b7;
  vertical-align: middle;
  background-color: #fff;
  background-image: url(../images/Polygon\ 4.png);
  background-repeat: no-repeat;
  background-position: left 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/*************************************
MENU ACCOUNT
**************************************/
#menu-account span {
  color: #1aa6b7;
  font-weight: bold;
  font-size: 27px;
}
.account-menu {
  margin: 7rem 0;
}
.ur-account {
  margin-right: 7rem;
  color: #1aa6b7;
  font-size: 16px;
}
.ur-account a {
  color: var(--main-color);
}
.content-menu {
  background-color: #f3fbfc;
  padding: 3rem;
  /* box-shadow: 0 0 0 #0000004f, 0 9px 20px 0 #0000004f; */
}
.content-menu span {
  margin-right: 2rem;
  font-size: 20px;
  color: #1aa6b7;
  font-weight: bold;
}
.content-menu .form-selectmenu {
  padding: 15px;
  border: 1px solid transparent;
  box-shadow: 0 0 10px #eee;
  border-radius: 10px;
  outline: none;
}
.form-selectmenu {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem 0.375rem 1.75rem;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5;
  color: #2c4250;
  vertical-align: middle;
  background-color: #fff;
  background-image: url(../images/Polygon\ 4.png);
  background-repeat: no-repeat;
  background-position: left 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.content-menu .btn {
  text-decoration: none;
  padding: 1.3rem 4.2rem;
  border: 1px solid var(--white-color);
  border-radius: 30px;
  color: var(--white-color);
  background-color: var(--main-color);
  font-weight: bold;
  transition: all 0.5s ease-in-out;
  font-size: 20px;
  margin-top: 4rem;
}
.content-menu .btn:hover {
  color: var(--main-color);
  background-color: var(--white-color);
}
/************************menu 2*********************/
.content-menu .form-menu {
  border: 1px solid #fff;
  background-color: #fff;
  padding: 1.3rem 6rem;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 0 10px #eee;
}

/* Start Account Details */
.menu-list {
  padding-bottom: 3rem;
}
.menu-list ul li a span {
  margin-right: 20px;
  font-size: 22px;
  color: var(--main-color);
  font-weight: bold;
}
.menu-list ul li {
  margin-bottom: 20px;
}
.menu-list .alerts {
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  background-color: #f3fbfc;
}
.menu-list .alerts-head h6 {
  font-size: 20px;
  font-weight: bold;
}
.menu-list .alerts-head img {
  margin-left: 5px;
}
.menu-list .alerts-items {
  border-radius: 5px;
  padding: 10px;
  background-color: var(--white-color);
  margin: 20px;
  text-align: right;
}

.menu-list .alerts-items p {
  font-weight: bold;
  color: var(--main-color);
}
/* End Account Details */

/* Start Account Details */
.account-details {
  background-color: #f3fbfc;
  padding: 3rem;
  /* box-shadow: 0 0 0 #0000004f, 0 9px 20px 0 #0000004f; */
}
.account-details span {
  margin-right: 0.6rem;
  font-size: 15px;
  color: #1aa6b7;
  font-weight: bold;
}
.account-details .form-selectmenu {
  padding: 15px;
  border: 1px solid transparent;
  box-shadow: 0 0 10px #eee;
  border-radius: 10px;
}
.account-details .form-control,
.account-details .form-select {
  padding: 15px;
  border: 1px solid transparent;
  box-shadow: 0 0 10px #eee;
  border-radius: 10px;
}
.account-details .form-control:focus,
.account-details .form-control:active,
.conaccount-detailsent .form-select:focus,
.account-details .form-select:active {
  box-shadow: 0 0 10px #eee;
}
.account-details .myselect {
  position: relative;
}
.account-details .fa {
  color: var(--main-color);
  font-size: 24px;
}
.account-details .myselect select {
  padding-right: 10px;
  outline: none;
  color: #cac6c6 !important;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 17px;
}

.account-details .myselect::after {
  content: "";
  position: absolute;
  left: 13px;
  top: 24px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid var(--main-color);
  pointer-events: none;
}
.account-details .form-control::placeholder {
  color: #cac6c6;
  font-weight: 500;
  text-align: right;
  letter-spacing: 1px;
}

.account-details .btn {
  text-decoration: none;
  padding: 1rem 2.3rem;
  border: 1px solid var(--white-color);
  border-radius: 30px;
  color: var(--white-color);
  margin-right: 15px;
  background-color: var(--main-color);
  font-weight: 500;
  transition: all 0.5s ease-in-out;
  font-size: 20px;
} /********************************************************/
#payment {
  background-color: #f3fbfc;
  /* box-shadow: 0 0 0 #0000004f, 0 9px 20px 0 #0000004f; */
}
.first-one {
  background-color: #fff;
  box-shadow: 0px 0px 3px #95a5a6;
}
/* .first-one {
  text-align: center;
} */
.first-one h4 {
  color: #2c4250;
  padding: 2rem 0;
  font-weight: bold;
}
.first-one {
  text-align: center;
}
.first-one p {
  color: #1aa6b7;
}
.first-card p {
  color: #2c4250;
  font-weight: 600;
  font-size: 16px;
  margin: 1rem 0;
}
p.price {
  color: #1aa6b7;
  font-size: 1.2rem;
}
.bg-num {
  background-color: #ecf8f9;
}
#fname {
  width: 34%;
  background-color: #ecf8f9;
  border: none;
  padding: 0.3rem 0;
}
p.loan {
  color: #1aa6b7;
  font-size: 14px;
  font-weight: bold;
}
p.security {
  color: #2c4250;
  font-size: 14px;
  margin-right: 1rem;
}
.custom-control-label {
  color: #1aa6b7;
  font-size: 19px;
}

.second-one {
  background-color: #fff;
  box-shadow: 0px 0px 3px #95a5a6;
}
.first-one > hr {
  margin: 1.2rem auto;
  width: 97%;
}
.second-one h3 {
  color: #2c4250;
}
.postion {
  margin: 0.5rem 1rem 3rem 0;
}
.second-one hr {
  width: 40%;
  margin: 3rem auto;
}
.cr-img {
  margin-right: 1rem;
  margin-top: -0.5rem;
}
.visa-img {
  margin-right: 2rem;
}
.postion span {
  font-size: 19px;
  color: #2c4250;
  margin-right: 1rem;
}
#payment .btn {
  text-decoration: none;
  padding: 17px 63px;
  border: 1px solid var(--white-color);
  border-radius: 30px;
  color: var(--white-color);
  margin-right: 15px;
  background-color: var(--main-color);
  font-weight: 500;
  transition: all 0.5s ease-in-out;
  font-size: 20px;
  margin: 3rem 2rem;
}
.account-details .btn:hover {
  color: var(--main-color);
  background-color: var(--white-color);
  border: 1px solid var(--main-color);
}
.account-details .row {
  margin-bottom: 20px;
}
.btn_upload {
  width: 100%;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  position: relative;
  padding: 15px;
  background-color: var(--white-color);
  border: 1px solid transparent;
  box-shadow: 0 0 10px #eee;
  border-radius: 10px;
}

/* .btn_upload:hover,
.btn_upload:focus {
  background-color: #7ca9e6;
} */

.yes {
  display: flex;
  align-items: flex-start;
  /* margin-top: 10px !important; */
}

.btn_upload input {
  cursor: pointer;
  height: 100%;
  position: absolute;
  filter: alpha(opacity=1);
  -moz-opacity: 0;
  opacity: 0;
}

.it {
  height: 100px;
  margin-left: 10px;
}

.btn-rmv1,
.btn-rmv2,
.btn-rmv3,
.btn-rmv4,
.btn-rmv5 {
  display: none;
}

.rmv {
  cursor: pointer;
  color: #fff;
  border-radius: 30px;
  border: 1px solid #fff;
  display: inline-block;
  background: rgba(255, 0, 0, 1);
  margin: -5px -10px;
}

.rmv:hover {
  background: rgba(255, 0, 0, 0.5);
}

/* End Account Details */
#payment .btn:hover {
  color: var(--main-color);
  background-color: var(--white-color);
}
/*************hamada*/
img.hamada {
  /* margin-left: 0.1; */
}
/**************************************************************SECTIONACC**********************************/
.sect {
  background-color: #f3fbfc;
  /* box-shadow: 0 0 0 #0000004f, 0 9px 20px 0 #0000004f; */
}
.sect a {
  display: inline-block;
  color: #2c4250;
  font-weight: bold;
  margin: 4rem 0;
  background-color: #fff;
  border-radius: 50px;
  padding: 1.6rem 2.8rem;
  cursor: pointer;
  font-size: 22px;
  transition: ease-in-out 0.2s;
  box-shadow: 0 0 10px #eee;
  /* color: var(--main-color); */
}
.sect a:hover {
  color: var(--main-color);
}

.sect h4:hover {
  color: #1aa6b7;
}
.content-section {
  background-color: #f3fbfc;
}
.content-section .section-text p {
  color: #1aa6b7;
  font-size: 20px;
  font-weight: bold;
  line-height: 3.3rem;
}
.content-section .section-ipt .form-control {
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--white-color);
  border: 1px solid transparent;
  box-shadow: 0 0 10px #eee;
}
.dirct {
  direction: ltr;
}
.content-section .section-ipt .form-control:placeholder-shown {
  color: #2c4250;
  font-size: 18px;
  font-weight: bold;
}
.content-section .opt {
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--white-color);
  border: 1px solid transparent;
  box-shadow: 0 0 10px #eee;
}
.content-section .btn {
  text-decoration: none;
  padding: 20px 40px;
  border: 1px solid var(--white-color);
  border-radius: 40px;
  background-color: var(--main-color);
  color: var(--white-color);
  font-weight: bold;
  transition: all 0.5s ease-in-out;
  font-size: 22px;
}
.content-section .btn:hover {
  background-color: var(--white-color);
  color: var(--main-color);
  transition: all 0.5s ease-in-out;
  border: 1px solid var(--main-color);
}
.yes span {
  color: var(--main-color);
}

.line-col {
  background-color: var(--white-color);
  padding: 1rem 0;
  border-radius: 10px;
  box-shadow: 0 1px 5px 0 #00000029, 0 1px 5px 0 #00000029;
}
.line-col h5 {
  color: #1aa6b7;

  font-weight: bold;
}

/* Add New Section */
.add_section_done .fa {
  font-size: 30px;
  color: var(--main-color);
}
.add_section_done span {
  font-size: 20px;
  color: var(--main-color);
  font-weight: 600;
}

.form-select {
  padding-right: 10px;
  outline: none;
  color: #cac6c6 !important;
  font-weight: 500;
  font-size: 17px;
}
.form-select:active,
.form-select:focus {
  box-shadow: none;
  outline: none;
  border: none;
}
.form-control::placeholder {
  color: #333;
  font-weight: 600;
}
.form-selectmenu {
  padding: 15px;
  border: 1px solid transparent;
  box-shadow: 0 0 10px #eee;
  border-radius: 10px;
}
.form-control,
.form-select {
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 10px;
}

.myselect {
  position: relative;
}

.myselect select {
  padding-right: 10px;
  outline: none;
  color: #333 !important;
  font-weight: 600;
  font-size: 17px;
}

.myselect::after {
  content: "";
  position: absolute;
  left: 13px;
  top: 24px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid var(--main-color);
  pointer-events: none;
}
.add-section-upload {
  font-size: 14px;
  margin-left: 6px;
}
.btn_upload_add_section {
  font-weight: bold;
}
p {
  margin-bottom: 0px;
}
.ur-account p {
  margin-bottom: 16px;
  color: var(--main-color);
}

/* categories page */
.categories .heading {
  background-color: var(--white-color);
  padding: 20px;
  border-radius: 10px;
  font-weight: bold;
  color: var(--main-color);
  font-size: 18px;
  box-shadow: 0 0 10px #eee;
}
.categories .cat_body {
  background-color: var(--white-color);
  padding: 20px;
  border-radius: 10px;
  font-weight: bold;
  color: #333;
  font-size: 18px;
  margin-top: 20px;
  box-shadow: 0 0 10px #eee;
}
.categories .cat_body img {
  width: 100px;
  border-radius: 10px;
}
.edit-pencil {
  font-size: 14px;
  color: var(--main-color);
}
.edit-pencil .fa {
  margin-left: 5px;
}
.edit-btn .fa {
  margin-top: 3px;
  margin-left: 10px;
}
.edit-btn {
  text-decoration: none;
  padding: 5px 21px;
  border: 1px solid var(--white-color);
  border-radius: 40px;
  background-color: var(--main-color);
  color: var(--white-color);
  transition: all 0.5s ease-in-out;
  font-size: 15px;
  display: inline-flex;
  margin-left: 20px;
}
.edit-btn:active,
.edit-btn:focus {
  outline: none;
  border: none;
}
.modal-dialog {
  max-width: 1000px;
  border-radius: 15px;
}
.modal-dialog .modal-body {
  padding: 10px 20px;
}
.modal-dialog .modal-body .form-control {
  padding: 15px;
  border: 1px solid transparent;
  box-shadow: 0 0 10px #eee;
  border-radius: 10px;
}

.modal-header {
  border-bottom: none;
}
.btn-close {
  background: none;
  color: var(--main-color) !important;
  cursor: pointer;
}
.btn-close .fa {
  font-size: 20px !important;
}
.btn-close:active,
.btn-close:focus {
  box-shadow: none;
  border: none;
  outline: none;
}
.modal-footer {
  margin: auto;
  border-top: 0;
  padding: 20px;
}

.modal-dialog .btn {
  padding: 10px 20px;
  font-size: 14px;
}
.modal-dialog .btn.delete {
  background-color: #ecf8f9;
  color: var(--main-color);
  box-shadow: 0 0 10px #e3dede;
  margin-right: 20px;
}

.change-photo,
.delete-photo {
  color: var(--main-color);
  font-size: 14px;
}
.delete-photo a {
  color: var(--main-color);
}
.change-photo .fa,
.delete-photo .fa {
  font-size: 18px;
  margin-left: 5px;
}

.contain {
  background-color: var(--white-color);
  box-shadow: 0 0 10px #eee;
  padding: 10px 10px 5px 10px;
  border-radius: 10px;
}
.contain .add,
.contain .remove {
  font-size: 14px;
  color: var(--main-color);
}
.contain select,
.custome-select select {
  font-size: 14px;
  background-color: #ecf8f9;
  border-radius: 20px;
  padding: 5px;
  margin-top: 10px;
}
.contain .myselect::after,
.custome-select .myselect::after {
  top: 12px;
}
.custome-select select {
  margin-top: 17px;
}
.change-photo .btn_upload {
  box-shadow: none;
}
.contain .fa {
  margin-left: 5px;
}
.dash {
  color: #707070;
}
.cat_two_select .form-select {
  padding: 15px;
  border: 1px solid transparent;
  box-shadow: 0 0 10px #eee;
  border-radius: 10px;
}
.cat_one_select .form-select {
  padding: 15px;
  border: 1px solid transparent;
  box-shadow: 0 0 10px #eee;
  border-radius: 10px;
}
.modal-body .form-label {
  color: var(--main-color);
}
.actions {
  padding: 30px 0;
}
.actions p {
  color: #9b9b9b;
  font-size: 14px;
  margin-bottom: 20px;
  font-weight: 500;
}
.actions .btn {
  text-decoration: none;
  padding: 20px 40px;
  border: 1px solid var(--white-color);
  border-radius: 40px;
  background-color: var(--main-color);
  color: var(--white-color);
  font-weight: bold;
  transition: all 0.5s ease-in-out;
  font-size: 15px;
}
.actions .btn.cancel_edit {
  background-color: transparent;
  color: var(--main-color);
  border: 1px solid var(--main-color);
}
.actions .btn.cancel_edit:hover {
  background-color: var(--main-color);
  color: var(--white-color);
}
.cat_body .fa-chevron-down {
  font-size: 13px;
}

/******************************************************
NOT FOUND PAGE
*******************************************************/
.ask-t a.non {
  color: #1aa6b7;
  background-color: #f3fbfc;
}
/*****************************************************
END NOT FOUND PAGE
*****************************************************/
/***************************************************
ADD NEW PRDUCT PAGE
***************************************************/
#product span {
  color: #1aa6b7;
  font-weight: bold;
  font-size: 27px;
}
#product .account-menu {
  margin: 7rem 0;
}
#product .ur-account {
  margin-right: 7rem;
  color: #1aa6b7;
  font-size: 16px;
}
#product .content-menu {
  background-color: #f3fbfc;
  padding: 3rem;
  /* box-shadow: 0 0 0 #0000004f, 0 9px 20px 0 #0000004f; */
}
#product .content-menu span {
  margin-right: 2rem;
  font-size: 20px;
  color: #1aa6b7;
  font-weight: bold;
}
#product .content-menu .form-selectmenu {
  padding: 15px;
  border: 1px solid transparent;
  box-shadow: 0 0 10px #eee;
  border-radius: 10px;
  outline: none;
}
#product .form-selectmenu {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem 0.375rem 1.75rem;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5;
  color: #2c4250;
  vertical-align: middle;
  background-color: #fff;
  background-image: url(../images/Polygon\ 4.png);
  background-repeat: no-repeat;
  background-position: left 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
#product .content-menu .btn {
  text-decoration: none;
  padding: 1.3rem 4.2rem;
  border: 1px solid var(--white-color);
  border-radius: 30px;
  color: var(--white-color);
  background-color: var(--main-color);
  font-weight: bold;
  transition: all 0.5s ease-in-out;
  font-size: 20px;
  margin-top: 4rem;
}
#product .content-menu .btn:hover {
  color: var(--main-color);
  background-color: var(--white-color);
}
.sub-categories {
  display: none;
}
.sub-categories .cat_body {
  margin: 10px 100px;
}
.sub-categories #player-list-sub span ,
.sub-categories #player-list-sub button,
.sub-categories #player-list-sub select
 {
  font-size: 14px;
}
.sub-categories #player-list-sub .edit-pencil {
  font-size: 11px;
}

/* Start File Page */
.files {
  display: inline-block !important; 
  border-radius: 40px !important;
  min-width: 350px;
}
.files .btn_upload_add_section {
  border-radius: 40px;
  padding: 20px;
  margin-right: 0 !important;
}
/* End File Page */

